*{
    font-family: 'Poppins', sans-serif;
  }

.brandlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding:1rem;
    margin:0;
}

.brand {
    width: 150px;
    height: 100px;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    margin-top:2rem;
    display: flex;
    align-items:center;

}

.brand img {
    width:100%;

}

.brandh2 {
    font-weight: bold;
    text-align: center;
}

.brandhighlight {
    color:#FF6428;
}

